/* Select Subject */
.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:rgb(9, 16, 115);
    text-shadow: 0 5px 10px rgba(253, 253, 253, 0.2);
    font-size: 50px;
    display: grid;
}

.container .Addsubject .btn{
  margin-left: 30px;
  margin-bottom:30px ;
    display: inline-block;
    /* background:crimson; */
    border: 2px solid rgb(53, 227, 239);
    color:rgb(57, 20, 220);
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .Addsubject .btn:hover{
  letter-spacing: 1px;
    color: white;
	background-color: rgb(27, 146, 182);
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 20px;
    background: rgb(167, 207, 248);
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    /* background:crimson; */
    border: 2px solid rgb(36, 171, 224);
    color:rgb(32, 32, 223);
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}


.container .box-container .box .btn:hover{
    letter-spacing: 1px;
    color: white;
	background-color: rgb(20, 12, 242);
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgb(94, 242, 235);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}

.create-subject {
    background-color: #f1f1f1;
    padding: 50px;
    border-radius: 20px;
}

.create-subject label {
    display: block;
}

.create-subject input, .create-subject textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.create-subject input[type=text] {
    border: 1px solid grey;
    border-radius: 5px;
}

.create-subject input[type=text] {
    line-height: 2;
}

.create-subject .btn {
    background: #5e2195;
    padding: 8px 20px;
    color: #fff;
    border: 0;
    margin-top: 20px;
}