/* Select Subject */
.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:var(--crimson);
    color:var(--crimson1);
    text-shadow: 0 5px 10px rgba(253, 253, 253, 0.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:15px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 30px;
    background: var(--white1);
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:var(--black1);
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color:var(--black2);
    font-size: 15px;
    line-height: 1.8;
}
.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    /* background:crimson; */
    border: 2px solid var(--crimson);
    color:var(--crimson);
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
    color: white;
	background-color: var(--crimson1);
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px var(--crimson1);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}